@{
    ViewData["Title"] = "Datos de Contacto";
}
<h2>@ViewData["Title"]</h2>

<address>
    AND - Agencia Nacional Digital<br />
    Edif. Murillo Toro<br />
    <abbr title="Phone">319 483 3320</abbr>
    Bogotá, Colombia
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">crismorec@gmail.com</a><br />
</address>
